# vercel
setuptools
mkdocs
mkdocs-minify-plugin
cairosvg
mkdocs-blog-plugin
mkdocs-rss-plugin
mkdocs-material
mkdocs-material[imaging]
python-markdown-math
fontawesome_markdown
mdx_unimoji
pymdown-extensions








